
@{
    Layout = "_Layout";
}

<section class="jumbotron text-left">
    <h3>User management</h3>
    <br />
    <br />
    <p class="lead text-success">
        You have now access to the user management portal, enjoy activating/deactivating users !!! Woooo
    </p>
</section>